// Variables
$tablet-breakpoint: 768px;
$mobile-breakpoint: 480px;

// Responsive Styles
@media (max-width: $tablet-breakpoint) {
    .fitness-container {
        header {
            .header-left-content {
                h1 {
                    font-size: 40px;
                }
            }

            .header-right-content {
                .user-content {
                    padding: 10px 20px;

                    .user-photo {
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }

        .grid-container {
            padding: 10px 20px;
            gap: 20px;

            .user-age-detail,
            .user-height-detail,
            .user-weight-detail {
                padding: 10px 20px;
                height: 50px;

                .user-age,
                .user-height,
                .user-weight,
                .age-detail,
                .height-detail,
                .weight-detail {
                    font-size: 16px;
                }
            }

            .user-activitys {
                padding: 10px 20px;
                height: 400px;

                .activity {
                    .activity-detail {
                        .user-activity-name,
                        .user-activity-timing {
                            font-size: 16px;
                        }
                    }

                    .all-detail {
                        ul {
                            .user-activity-all-detail {
                                font-size: 14px;
                                margin: 0px 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    .fitness-container {
        header {
            flex-direction: column;
            padding: 10px;

            .header-left-content,
            .header-right-content {
                width: 100%;
                justify-content: center;
                margin-bottom: 10px;
            }

            .header-left-content {
                h1 {
                    font-size: 30px;
                }
            }
        }

        .grid-container {
            grid-template-columns: 1fr;
            padding: 10px;

            .user-activitys {
                grid-area: auto;
                height: 300px;
            }

            .chart {
                grid-column: auto;
                min-width: none;
            }
        }
    }
}
