@media (max-width: 768px) {
  .fitness-container header .header-left-content h1 {
    font-size: 40px;
  }
  .fitness-container header .header-right-content .user-content {
    padding: 10px 20px;
  }
  .fitness-container header .header-right-content .user-content .user-photo {
    width: 40px;
    height: 40px;
  }
  .fitness-container .grid-container {
    padding: 10px 20px;
    gap: 20px;
  }
  .fitness-container .grid-container .user-age-detail,
  .fitness-container .grid-container .user-height-detail,
  .fitness-container .grid-container .user-weight-detail {
    padding: 10px 20px;
    height: 50px;
  }
  .fitness-container .grid-container .user-age-detail .user-age,
  .fitness-container .grid-container .user-age-detail .user-height,
  .fitness-container .grid-container .user-age-detail .user-weight,
  .fitness-container .grid-container .user-age-detail .age-detail,
  .fitness-container .grid-container .user-age-detail .height-detail,
  .fitness-container .grid-container .user-age-detail .weight-detail,
  .fitness-container .grid-container .user-height-detail .user-age,
  .fitness-container .grid-container .user-height-detail .user-height,
  .fitness-container .grid-container .user-height-detail .user-weight,
  .fitness-container .grid-container .user-height-detail .age-detail,
  .fitness-container .grid-container .user-height-detail .height-detail,
  .fitness-container .grid-container .user-height-detail .weight-detail,
  .fitness-container .grid-container .user-weight-detail .user-age,
  .fitness-container .grid-container .user-weight-detail .user-height,
  .fitness-container .grid-container .user-weight-detail .user-weight,
  .fitness-container .grid-container .user-weight-detail .age-detail,
  .fitness-container .grid-container .user-weight-detail .height-detail,
  .fitness-container .grid-container .user-weight-detail .weight-detail {
    font-size: 16px;
  }
  .fitness-container .grid-container .user-activitys {
    padding: 10px 20px;
    height: 400px;
  }
  .fitness-container .grid-container .user-activitys .activity .activity-detail .user-activity-name,
  .fitness-container .grid-container .user-activitys .activity .activity-detail .user-activity-timing {
    font-size: 16px;
  }
  .fitness-container .grid-container .user-activitys .activity .all-detail ul .user-activity-all-detail {
    font-size: 14px;
    margin: 0px 20px;
  }
}
@media (max-width: 480px) {
  .fitness-container header {
    flex-direction: column;
    padding: 10px;
  }
  .fitness-container header .header-left-content,
  .fitness-container header .header-right-content {
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
  .fitness-container header .header-left-content h1 {
    font-size: 30px;
  }
  .fitness-container .grid-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .fitness-container .grid-container .user-activitys {
    grid-area: auto;
    height: 300px;
  }
  .fitness-container .grid-container .chart {
    grid-column: auto;
    min-width: none;
  }
}/*# sourceMappingURL=dashboard-responsive.css.map */