* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, sans-serif;
}

.chart-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0px 0px 59px #c6bebe;
    background-color: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 10px;
}